@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#myProgress {
	width: 100%;
	background-color: #424242;
	position:fixed;
	bottom:86;
	left:0;
	z-index:2;
}
#myBar {
	width: 0%;
	height: 4px;
	background-color: #d32f2f;

}

#myBar, #loadBar {
	position:absolute;
}

#loadBar {
	width: 0%;
	height: 4px;
	background-color: grey;
	z-index:-1;

}

#progress{
	position:fixed;
	bottom:86; 
	width:100%;
	left:0;
	margin-bottom:-8px;
	cursor:pointer;
}

.actions{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:#455a64;
	height:86px;
	display:inline;
	z-index:2;

}

#playPauseButton{
	width:54px;	
	padding-top: 16px;
	-webkit-filter: invert(100%);
    filter: invert(100%);
    margin-left:auto;
    margin-right:auto;
    display:block;
    z-index: 1;
}

#toggleMuteButton{
	width:24px;	
	-webkit-filter: invert(100%);
    filter: invert(100%);
    bottom:0;
    right:32px;
    position:absolute;
    bottom:31px;
}

#favourite{
	width:24px;	
    bottom:0;
    right:96px;
    position:absolute;
    bottom:31px;
    width:24px;
}

#album{
	float:left;
	position:absolute
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
	padding:0;
	margin:0;

}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;

}

input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent; 
	border-color: transparent;
	color: transparent;
	height:100%;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	margin-bottom:-2px;
	/*margin-left:-4px;*/
	width: 16px;
	border-radius: 25px;
	background: #d32f2f;
	cursor: pointer;
	padding-bottom:5px;
	/*margin-top: -14px; *//* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	/*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}



/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	height: 16px;
	width: 16px;
	margin-bottom:-2px;
	margin-left:-4px;
	border-radius: 20px;
	background: #d32f2f;
	cursor: pointer;

}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	height: 16px;
	width: 16px;
	border-radius: 20px;
		margin-bottom:-2px;
	margin-left:-4px;
	background: #d32f2f;
	cursor: pointer;
}

#title{
	color:white;
	line-height: 86px;
	
	position:fixed;
	bottom:0;
	left:102px;
	text-overflow:ellipsis;
	overflow:hidden;
	width:calc(50% - 145px);
	white-space:nowrap;
	height:86px;
}

#navbar{
	width:100%;
	height:100px;
	background-color:#ff5722;
	top:0;
	left:0;
	color:white;
	line-height:100px;
	font-family: 'Roboto', sans-serif;
}

#heading{

	padding-left:50px;
	font-weight:700;
	font-size:150%;

}

#search{
	position:absolute;
	right:50px;
	top:38px;
	border:none;
	border-radius: 2px;
	height:24px;
	width:200px;
	padding:8px;
	line-height:100px;


}

body{
	margin:0;
	background-color:#f5f5f5;
	font-family: 'Roboto', sans-serif;
	margin-bottom:102px;
}

#body{
	margin:16px;


}

.album{
	width:100px;
	height:100px;
	border-radius: 2px;

	
}

.subtitle{
	
	color:black;
	width:100px;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;
	overflow: hidden;
	padding-top:4px;
	padding-bottom:8px;
	top:100;

}

.card{
	top:0;
	width:100px;
	display:inline-block;
	margin-right:16px;
	border-radius: 2px;
	font-weight:400;
	font-size:80%;
	text-decoration: none;
	
	
}

#history{
	position:relative;
}

::-webkit-scrollbar { 
    display: none; 
}

#player{
	position: absolute;
	left: 0; 
	top: 0;
	border: none;
	z-index:1;
}